@page "/teacher{n}"
@using Microsoft.EntityFrameworkCore
@using MarkBook.Data.Database.Model

@inject NavigationManager navigation
@layout Components.Layout.LeaveLayout
@inject IDbContextFactory<Data.Database.Context> DbFactory
@rendermode InteractiveServer

<PageTitle>Меню учителя</PageTitle>
<div>

</div>
<div>
	@if (!loading)
	{
		<div class="container h-100 py-5">
			<div>
				@foreach (Data.Database.Model.Teacher teacher in teachers.Where(x => x.id == int.Parse(n)))
				{
					<h3>Добро пожаловать, @teacher.last_name @teacher.first_name @teacher.patronymic</h3>
				}
			</div>
			<div class="container h-100 py-5">
				<h1>        </h1>
				<h1>        </h1>
				</div>
			<div class="row h-100 justify-content-center align-items-center">
				<div class="col-6 w-50 h-50">
					<div class="position-relative">
						<div class="position-absolute top-50 start-50 translate-middle my-4">
							<button type="button" class="btn btn-primary" @onclick="RedirectToGrades">Журнал</button>
							<button type="button" class="btn btn-primary" @onclick="RedirectToCalendar">Календарно-тематический план</button>
							<button type="button" class="btn btn-primary" @onclick="RedirectToVosp">План воспитательной работы</button>
							<button type="button" class="btn btn-primary" @onclick="RedirectToExtras">План внеурочной деятельности</button>
							<button type="button" class="btn btn-primary" @onclick="RedirectToEducationPrograms">Рабочие программы</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>

@code {
	[Parameter]
	public string n { get; set; }

	private bool loading = true;

	private List<Data.Database.Model.Teacher> teachers;

	private async Task LoadTeachers()
	{
		using (var db = DbFactory.CreateDbContext())
		{
			loading = true;
			teachers = await db.Teachers.ToListAsync();
		}
		loading = false;
	}

	protected override async Task OnInitializedAsync()
	{
		await LoadTeachers();
	}
	private void RedirectToGrades()
	{
		navigation.NavigateTo($"/teacher{n}/marks");
	}
	private void RedirectToCalendar()
	{
		navigation.NavigateTo($"/teacher{n}/calendar");
	}
	private void RedirectToVosp()
	{
		navigation.NavigateTo($"/teacher{n}/eduworks");
	}
	private void RedirectToExtras()
	{
		navigation.NavigateTo($"/teacher{n}/extras");
	}

	private void RedirectToEducationPrograms()
	{
		navigation.NavigateTo($"/teacher{n}/programs");
	}
}
