@inherits LayoutComponentBase

<body>
    <div class="wrapper">
        <header>
            <NavigationActive></NavigationActive>
        </header>

        <main class="content">
            @Body
        </main>
    </div>
</body>

@code {

}
